.factoritem {
  padding: 20px;
  width: 30%;
  background-color: black !important;
   position: relative;
  min-height: 1px;
  display: inline-block;
  max-width: 100%;
  max-height: 20%;
  margin: 10px;
  overflow: hidden;
}

.factoritem:hover {
  width: 100%;
}


.factoritem:hover .hiddenpart {
  display: block;
}

.img-factor {
  width: 100%;
}
.img-factor:hover {
opacity: .8;
}

.hiddenpart {
display: none;
}